
body {
    background-color:#e3fcfb;
}
.header {
    background-color: #f5fbff;
    box-shadow: 10px 10px #95d0f5;
    border-radius: 15px;
    display: flex;
    padding-left: 400px;
}
.header .title{
    font-size: 50px;

}
.header .button{
    display: flex;
    align-self: center;
}
.header .button .register{
    padding-left: 200px;
    margin-right: 20px;
}
.header .button .login{
    padding-left: 800px;
    margin-right: 20px;
}
.body .title{

    box-shadow: 3px 3px #95d0f5;
    border-radius: 15px;
    text-align: center;
    background-color: #f5fbff;
    width: 20%;
    margin: auto;
    margin-top: 340px;
    margin-bottom: 10px;
    font-size: 50px;
}

.body .FullForm{
    box-shadow: 4px 4px #95d0f5;
    border-radius: 15px;
    text-align: center;
    background-color: #f5fbff;
    width: 20%;
    margin: auto;

}

 .body .FullForm .Form .username{
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.body .FullForm .Form .password{
    margin-bottom: 10px;
}
.body .FullForm .Button .Remember{
    margin-bottom: 10px;
    margin-top: 10px;
}
.body .FullForm .Button .Login{
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}
